.contact-sales-container
  %h2.margin-top0 Ready to talk?
  %p Our team is here to answer your questions about GitLab
  %a.btn.cta-btn.orange.margin-top20{ href: "/solutions/public-sector/#contact" }
    Contact sales
  = link_to "/free-trial/", class: "margin-top20" do
    Or, get started now with a free trial
