%div
  .container
    .row.u-padding-bottom-md.cmp-customer-highlight-quad
      .row.d-flex
        .customer-highlight.logos-card
          .customer-highlight-inner-wrap.bg-black-2020
            .row
              .col-md-12
                %h2.u-text-light.text-weight-normal
                  Trusted by the companies you use worldwide, loved by developers
            .row.u-text-light
              .col-md-6.u-margin-bottom-0
                = partial "/images/organizations/logo_nvidia_mono.svg"
                = partial "/images/organizations/logo_siemens_mono.svg"
              .col-md-6.u-margin-bottom-0
                = partial "/images/organizations/logo_equinix_2_mono.svg"
                = partial "/images/organizations/logo_drupal_mono.svg"

        - data.customer_highlights.each do |customer|
          -if customer.identifier.include?("#{current_page.data.data_identifier}")
            .customer-highlight{"data-customer-highlight": "#{customer.internal_ident}"}
              %a.plain{href: customer.case_study_url}
                .customer-highlight-inner-wrap{"style": "background-color: #{customer.background_color};"}
                  .customer-highlight-logo
                    = partial customer.logo
                  .statistic-card
                    %h4.customer-heading
                      %span.customer-name
                        #{customer.name}
                      %span.customer-impact
                        #{customer.impact}
                    .quantify-wrapper
                      %span.quantifier-icon{"style": "color: #{customer.background_color};"}
                        = partial customer.icon1
                      %span.quantifier-text{"style": "color: #{customer.background_color};"}
                        #{customer.quantifier1}
                      %span.qualifier-text
                        #{customer.qualifier1}
                    .quantify-wrapper
                      %span.quantifier-icon{"style": "color: #{customer.background_color};"}
                        = partial customer.icon2
                      %span.quantifier-text{"style": "color: #{customer.background_color};"}
                        #{customer.quantifier2}
                      %span.qualifier-text
                        #{customer.qualifier2}
                    .case-study-link
                      %span.case-study-link-text Read the case study
                      %span.case-study-arrow{"style": "color: #{customer.background_color};"} →
    .row
      = link_to "/customers/", class: "customer-highlight__link" do
        Read more customer case studies →

:css
  .cmp-customer-highlight-quad {
    font-size: 0rem;
  }

  .customer-highlight {
    display: flex;
    flex: 0 0 auto;
    padding: 15px;
  }

  .customer-highlight__link{
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
  }

  .customer-highlight-inner-wrap {
    border-radius: 4px;
    flex: 0 0 auto;
    font-size: 1rem;
    padding: 3.2em;
    width: 100%;
  }

  .customer-highlight-logo {
    color: #ffffff;
  }

  .statistic-card {
    background: #ffffff;
    border-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    padding: 24px;
  }

  .customer-highlight a.plain,
  .customer-highlight a.plain:active,
  .customer-highlight a.plain:focus,
  .customer-highlight a.plain:hover {
    color: #333333;
    text-decoration: none;
  }

  .customer-highlight a:active .statistic-card,
  .customer-highlight a:focus .statistic-card,
  .customer-highlight a:hover .statistic-card {
    border-color: #555555;
  }

  .customer-highlight a:active .customer-highlight-inner-wrap[style*="background-color: #333333;"] .statistic-card,
  .customer-highlight a:focus .customer-highlight-inner-wrap[style*="background-color: #333333;"] .statistic-card,
  .customer-highlight a:hover .customer-highlight-inner-wrap[style*="background-color: #333333;"] .statistic-card {
    border-color: #aaaaaa;
  }

  .cmp-customer-highlight-quad .logos-card {
    width: calc(100% * (4 / 12));
  }

  .cmp-customer-highlight-quad .logos-card h2 {
    font-size: 3.4em;
  }

  .customer-highlight[data-customer-highlight="first"] {
    width: calc(100% * (8 / 12));
  }

  .customer-highlight[data-customer-highlight="second"] {
    width: calc(100% * (6 / 12));
  }

  .customer-highlight[data-customer-highlight="third"] {
    width: calc(100% * (6 / 12));
  }

  .customer-highlight.logos-card .customer-highlight-inner-wrap {
    padding-top: 4.8em;
  }

  .cmp-customer-highlight-quad .logos-card svg {
    height: 30px;
    margin: 20px 40px 0px 0px;
    max-width: calc(100% - 40px);
  }

  .customer-highlight .customer-heading {
    margin-bottom: 16px;
  }

  .customer-highlight[data-customer-highlight="first"] .customer-highlight-inner-wrap {
    padding: 4.8em 6.4em 3.2em 6.4em;
  }

  .customer-highlight[data-customer-highlight="first"] .customer-highlight-logo svg {
    height: 7.6em;
    margin-bottom: 3.4em;
  }

  .customer-highlight[data-customer-highlight="first"] .customer-heading {
    font-size: 3.4em;
  }

  .customer-highlight[data-customer-highlight="second"] .customer-highlight-logo svg,
  .customer-highlight[data-customer-highlight="third"] .customer-highlight-logo svg {
    height: 3.2em;
    margin-bottom: 2.4em;
  }

  .customer-highlight .quantify-wrapper * {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
  }

  .customer-highlight .quantify-wrapper {
    margin-bottom: 16px;
  }

  .customer-highlight .quantifier-icon {
    margin-right: 8px;
  }

  .customer-highlight .quantifier-text {
    font-size: 4.5em;
    font-weight: 600;
    margin-right: 8px;
  }

  .customer-highlight .qualifier-text {
    font-size: 2.4em;
  }

  .customer-highlight .case-study-link {
    margin-top: 16px;
    font-size: 14px;
    white-space: nowrap;
  }

  .customer-highlight .case-study-link .case-study-link-text {
    color: #333333;
    font-weight: 700;
    text-decoration: underline;
  }

  .customer-highlight .case-study-arrow {
    display: inline-block;
    font-weight: 700;
    margin-left: 8px;
    text-decoration: none;
  }

  @media all and (max-width: 959px) {

    .cmp-customer-highlight-quad .customer-highlight {
      padding: 0 0 15px 0;
      width: 100%;
    }

    .customer-highlight-inner-wrap {
      font-size: .7rem;
    }

    .logos-card .col-md-6 {
      display: inline;
    }

    .customer-highlight[data-customer-highlight="first"] .customer-highlight-inner-wrap {
      padding: 3.2em;
    }

    .cmp-customer-highlight-quad .logos-card svg {
      height: 20px;
      max-width: calc(50% - 41px);
    }

  }
